[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
sqlalchemy = "==1.4.46"
ccxt = "*"
sqlalchemy-utils = "*"
psycopg2-binary = "*"
tzlocal = "*"
imgkit = "*"
pdfkit = "*"
plotly = "*"
wkhtmltopdf = "*"
pypdf2 = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
